footer
  background $footer-color
  padding rem(25px) 0
  width 100%
  position absolute
  bottom 0
  p,a
      text-decoration none
      mainFont(300)
      color sec
      text-align center
      margin 0
