//Organization of Files based codepen and trello

// Third-Party Components (Componentes de Terceiros)/
@import 'jeet'
@import "kouto-swiss"

// The normalize reset makes browsers render all elements more consistently and in line with modern standards.
normalize()

// General Dependencies (Dependências Gerais)


// Base
@import 'variables'
@import 'header'
@import 'menu'
@import 'footer'

// Areas

// Pages (Páginas)

// Patterns (Padrões)
