.menu
  width 100%
  height 8vh
  position relative
  top 10vh
  background $menu-color
  &-title
        text-decoration none
        color #E6D37A
        &:hover
           border-bottom  2px #fff solid
           color #fff
           transition 1s
    .ui-menuitem-text
        padding rem(1em)
