//Organization of Files based codepen and trello


// General Dependencies (Dependências Gerais)


// Base


// Areas

// Pages (Páginas)

// Patterns (Padrões)



// Third-Party Components (Componentes de Terceiros)
// (none at the moment)
